In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [30]:
df = pd.read_csv('input/metingen_27feb2022.csv'
                 , names=['date', 'cum_sol', 'kwh_day', 'gas_day']
                , parse_dates=[0], dayfirst=True
                )
df.tail()

           date cum_sol kwh_day gas_day
3838 2022-04-28     NaN     NaN     NaN
3839 2022-04-29     NaN     NaN     NaN
3840 2022-04-30     NaN     NaN     NaN
3841 2022-05-01     NaN     NaN     NaN
3842 2022-05-02     NaN     NaN     NaN

In [50]:
df.groupby('date')['cum_sol'].sum()

date
2011-10-26     0.1
2011-10-27    10.2
2011-10-28    20.2
2011-10-29    29.6
2011-10-30    34.2
              ...
2022-04-28       0
2022-04-29       0
2022-04-30       0
2022-05-01       0
2022-05-02       0
Name: cum_sol, Length: 3842, dtype: object